* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #1a1a1a;
  font-family: sans-serif;
  font-size: 15px;
  color: #ccc;
}
input[type="text"] {
  background-color: transparent;
  margin-top: 30px;
  border: 0;
  border-bottom: solid 1px #8080ff;
  text-align: center;
  font-size: 20px;
  color: #518bf0;
  text-shadow: 0 0 3px #518bf0;
  width: 45px;
  display: inline-block;
}
input:focus {
  outline: 0;
  border-bottom: dashed 1px #ff8080;
}
input::-moz-selection {
  color: #1a1a1a;
  background-color: #c6e4ee;
}
input::selection {
  color: #1a1a1a;
  background-color: #c6e4ee;
}
::-webkit-input-placeholder {
  color: #7aa6f3;
  text-shadow: 0 0 3px #7aa6f3;
}
:-moz-placeholder {
  color: #7aa6f3;
  text-shadow: 0 0 3px #7aa6f3;
}
::-moz-placeholder {
  color: #7aa6f3;
  text-shadow: 0 0 3px #7aa6f3;
}
:-ms-input-placeholder {
  color: #7aa6f3;
  text-shadow: 0 0 3px #7aa6f3;
}
.wrapper {
  display: -ms-flexbox;

  display: flex;
  -o-box-align: center;
  align-items: center;
  -o-box-pack: center;
  justify-content: center;
  -o-box-orient: vertical;
  flex-direction: column;
  height: 100%;
}
.content {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-justify-content: center;
}
.green {
  margin-top: 15px;
}

.green .progress,
.red .progress,
.orange .progress {
  position: relative;
  border-radius: 7%;
  width: 52%;
  padding-top: 70%;
  height: 0;
}
.green .progress {
  border: 2px solid #53fc53;
}
.green .progress {
  box-shadow: 0 0 20px #029502;
}
.green .progress,
.red .progress,
.orange .progress {
  transition: all 1s ease;
}
.green .progress .inner,
.red .progress .inner,
.orange .progress .inner {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  border-radius: 5%;
  top:0;
  width: 100%;
  height: 100%;
  border: 1px solid #1a1a1a;
  transition: all 1s ease;
}
.green .progress .inner .water,
.red .progress .inner .water,
.orange .progress .inner .water {
  position: absolute;
  z-index: 1;
  width: 290%;
  height: 200%;
  left: -95%;
  border-radius: 40%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: spin;
  animation-name: spin;
  transition: all 1s ease;
}
.green .progress .inner .water {
  background: rgba(83,252,83,0.5);
  box-shadow: 0 0 20px #03bc03;
}
.red .progress .inner .water {
  background: rgba(237,59,59,0.5);
  box-shadow: 0 0 20px #9b0e0e;
}
.orange .progress .inner .water {
  background: rgba(240,124,62,0.5);
  box-shadow: 0 0 20px #a0400c;
}
.progress .inner .glare {
  position: absolute;
  left: 20%;
  z-index: 5;
  width: 20%;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  transition: all 1s ease;
}
.progress .inner .glare2 {
  left: 85%;
  width: 15%;
}
.green .progress .inner .percent,
.red .progress .inner .percent,
.orange .progress .inner .percent,
.label{
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  z-index: 6;

  font-size: 8vw;
  transition: all 1s ease;
}
.percent{
  top: 60%;
}
.label{
  top: 30%;
}
.green .progress .inner .percent{
  color: #03c603;
  text-shadow: 0 0 10px #029502;
}
.red .progress .inner .percent {
  color: #a30f0f;
  text-shadow: 0 0 10px #7a0b0b;
}

.red {
  margin-top: 15px;
}
.red .progress {
  border: 2px solid #ed3b3b;
}
.red .progress {
  box-shadow: 0 0 20px #7a0b0b;
}


.orange {
  margin-top: 15px;
}
.orange .progress {
  border: 2px solid #f07c3e;
}
.orange .progress {
  box-shadow: 0 0 20px #7e320a;
}

.orange .progress .inner .percent {
  color: #a8430d;
}
.orange .progress .inner .percent {
  text-shadow: 0 0 10px #7e320a;
}
#copyright {
  margin-top: 25px;
  background-color: transparent;
  font-size: 14px;
  color: #b3b3b3;
  text-align: center;
}
#copyright div {
  margin-bottom: 10px;
}
#copyright a,
#copyright a:link {
  color: #808080;
  text-decoration: none;
  border-bottom: 1px solid #808080;
  padding-bottom: 2px;
}
#copyright a:active {
  color: #b3b3b3;
}
#copyright a:hover {
  color: #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 4px;
}
.instructions {
  display: inline-block;
  margin: 5px 0;
  font-size: 16px;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
