<ons-page>

  <ons-toolbar>
    <div class="center">酱料偏好配置</div>
  </ons-toolbar>

  <ons-list modifier="inset">
    <ons-list-item style="background-color: #eee;">智能设备端配置 同步于 {{now|date:'yyyy-MM-dd hh:mm:ss'}}</ons-list-item>
    <ons-list-item modifier="longdivider">老婆的饺子蘸料</ons-list-item>
    <ons-list-item modifier="longdivider">北京烤鸭完美组合</ons-list-item>
  </ons-list>
  <ons-list modifier="inset">
    <ons-list-item style="background-color: #eee;" modifier="nodivider"><div class="center">云端存储配置</div>
      <div class="right">
        <ons-fab modifier="mini"><ons-icon icon="fa-plus"></ons-icon></ons-fab>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">老婆的饺子蘸料
      <div class="right">
        <ons-switch [value]="true"></ons-switch>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">北京烤鸭完美组合
      <div class="right">
        <ons-switch [value]="true"></ons-switch>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">五香牛肉-网红推荐
      <div class="right">
        <ons-switch></ons-switch>
      </div>
    </ons-list-item>
    <ons-list-item modifier="longdivider">健康饮食推荐
      <div class="right">
        <ons-switch></ons-switch>
      </div>
    </ons-list-item>
  </ons-list>

</ons-page>
