<ons-page>
  <ons-toolbar>
    <div class="center">我的设置</div>
  </ons-toolbar>
  <div class="content">
    <ons-list>
      <ons-list-item style="background-color: #fafafa">
        <div class="left">
          <img class="list-item__thumbnail" src="https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83erw4M6eiclcUhVahyQWV5pwe1O7HntiaR8Ilu4ibbb6Y0ymTU08c0icIJP1N2s1tkw9gamRHYUueWpqoQ/132">
        </div>
        <br>
        <div class="center" style="background-size: 100% 0px;">
          <span class="list-item__title" style="margin: 10px;">吃货大佬  <ons-fab modifier="mini"><ons-icon icon="fa-list"></ons-icon></ons-fab></span>
          <span class="list-item__subtitle" style="margin: 10px;"><ons-icon icon="fa-mobile" size="24px"></ons-icon> 手机号码: 188-8888-8888</span>
        </div>
      </ons-list-item>
      <ons-list-item class="icon-grid">
        <ul>
          <li><ons-icon class="ib1" icon="fa-user"></ons-icon><br><span>账号</span></li>
          <li><ons-icon class="ib2" icon="fa-cloud"></ons-icon><br><span>云服务</span></li>
          <li><ons-icon class="ib3" icon="fa-comment"></ons-icon><br><span>消息</span></li>
          <li><ons-icon class="ib4" icon="fa-info"></ons-icon><br><span>关于</span></li>
          <li><ons-icon class="ib5" icon="question"></ons-icon><br><span>帮助</span></li>
          <li><ons-icon class="ib6" icon="fa-cog"></ons-icon><br><span>设置</span></li>
          <li><ons-icon class="ib7" icon="fa-headphones"></ons-icon><br><span>客服</span></li>
          <li><ons-icon class="ib8" icon="fa-thumbs-up"></ons-icon><br><span>推荐</span></li>
          <li><ons-icon class="ib9" icon="fa-sign-out"></ons-icon><br><span>退出</span></li>
        </ul>
      </ons-list-item>
    </ons-list>
    <ons-bottom-toolbar class="bottom-bar">
      智能调料盒云服务 v0.0.1
    </ons-bottom-toolbar>
  </div>
</ons-page>
